/foodie-common/target/
.gitignore
.idea/vcs.xml
foodie-api/target/classes/
foodie-mapper/target/classes/
foodie-pojo/target/classes/
foodie-service/target/classes/
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dataSources/
foodie-api/target/foodie-api-1.0-SNAPSHOT.jar
foodie-api/target/generated-sources/
foodie-api/target/generated-test-sources/
foodie-api/target/maven-archiver/
foodie-api/target/maven-status/
foodie-api/target/test-classes/
foodie-mapper/target/foodie-mapper-1.0-SNAPSHOT.jar
foodie-mapper/target/generated-sources/
foodie-mapper/target/generated-test-sources/
foodie-mapper/target/maven-archiver/
foodie-mapper/target/maven-status/
foodie-pojo/target/foodie-pojo-1.0-SNAPSHOT.jar
foodie-pojo/target/generated-sources/
foodie-pojo/target/generated-test-sources/
foodie-pojo/target/maven-archiver/
foodie-pojo/target/maven-status/
foodie-service/target/foodie-service-1.0-SNAPSHOT.jar
foodie-service/target/generated-sources/
foodie-service/target/generated-test-sources/
foodie-service/target/maven-archiver/
foodie-service/target/maven-status/
